@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1b1b32;
}

.navbar{
  height: 85px;
}

.logo{
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

li{
  line-height: 2.2;
  margin-top: 15px;
}

form{
  background-color: aliceblue;
  width: 40%;
}

.btn-form{
  display: block;
  width: 100%;
}

h4{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.spinner{
  background: rgba(131, 131, 131, 0.3);
  /*width: 100vw;
  height: 100vh;*/
  position: fix;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  top: 0;
}

.grad{
  background-color:blue;
}

.main-container{
  background-color: aliceblue; 
  padding: 15px; 
}

.row{
  background-color: rgb(186, 220, 242);
  padding: 10px;
}

.class-title{
  color: #1b1b32;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.column{
  display: flex;
  flex-direction: column;
  background-color: #F6F8FC;
  width: 300px;
  min-height: 100px;
  padding: 24px 12px;
  border-radius: 8px;
  border-top: 7px solid;
  box-shadow: 0 8px 16px rgba(#333, 0.1);
}

.column-1{
  border-color: #FF9E4A;
}

.column-1 .title{
  color: #FF9E4A;
}

.column-2{
  border-color: #C56BE2;
}

.column-2 .title{
  color: #C56BE2;
}

.column-3{
  border-color: #6FD2AF;
}

.column-3 .title{
  color: #6FD2AF;
}

/*DRAG AND DROP*/

.drag-and-drop{
  display: flex;
  grid-gap: 40px;
}

.dd-zone{
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  height: 100%;
}

.dd-element{
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
  color: #5b5b73;
}

.dd-element .body{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 0;
}

.btn-submit{
  width: 80%;
}

.form-task{
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 400px;
}